<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Monitoring Dashboard</title>
</head>
<body>
    <div id="updates-section"></div>
    <div id="patient-list"></div>
    <div id="quick-actions"></div>

    <!-- Ładowanie skryptów jako moduły ES6 -->
    <script type="module" src="/assets/static/js/Main.js"></script>
    <script type="module" src="/assets/static/js/MaterialButton.js"></script>
    <script type="module" src="/assets/static/js/MaterialMenu.js"></script>
    <script type="module" src="/assets/static/js/MaterialUpdates.js"></script>
</body>
</html>
